.projects__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

.projects__item {
    width: 25%;
    margin: 1rem;
}

.projects__item img {
    width: 100%;
    object-fit: cover;
}

.projects__link a,
.events__link a {
    color: #a83859;
    text-decoration: none;
    font-family: 'Gelasio', serif;
    font-size: 0.8rem;
    letter-spacing: 3px;
}

.projects__link a:after,
.events__link a:after {
    content: ' ';
    display: inline-block;
    vertical-align: center;
    border-left: 5px solid #a83859;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
}

.projects__photo figcaption {
    border-bottom: 1px solid #a83859;
    font-size: 1.3rem;
}

.events__item__content {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.events__item__content-path-image {
    width: 35%;
    margin: 2rem;
}

.events__item__content-path-image img {
    width: 100%;
    filter: grayscale(80%);
}

.events__item__content-path-text h3 {
    margin: 0;
    color: #a83859;
    text-transform: uppercase;
    font-family: 'Gelasio', serif;
}

.events__item__content-path-text {
    margin-top: 2rem;
    color: #240d39;
    font-size: 0.8rem;
}

.events__item__content-path {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}