.lesson__wrapper {
    height: 70vh;
    margin: 0 auto;
    background: url("../images/img163.jpg") no-repeat fixed;
    background-size: 100%;
}

.lesson__content {
    padding: 1rem 2rem;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #e4dde4;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-align: justify;
}