@font-face {
    font-family: 'ellizModels';
    src: url('../fonts/ellizModels.eot?5ug0gv');
    src: url('../fonts/ellizModels.eot?5ug0gv#iefix') format('embedded-opentype'),
    url('../fonts/ellizModels.ttf?5ug0gv') format('truetype'),
    url('../fonts/ellizModels.woff?5ug0gv') format('woff'),
    url('../fonts/ellizModels.svg?5ug0gv#ellizModels') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="i-eM-"], [class*=" i-eM-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'ellizModels' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.i-eM-images:before {
    content: "\e90e";
}

.i-eM-camera:before {
    content: "\e90f";
}

.i-eM-profile:before {
    content: "\e923";
}

.i-eM-stack:before {
    content: "\e92e";
}

.i-eM-address-book:before {
    content: "\e944";
}

.i-eM-alarm:before {
    content: "\e950";
}

.i-eM-calendar:before {
    content: "\e953";
}

.i-eM-users:before {
    content: "\e972";
}

.i-eM-gift:before {
    content: "\e99f";
}

.i-eM-clipboard:before {
    content: "\e9b8";
}

.i-eM-checkmark:before {
    content: "\ea10";
    padding: 1rem;
    color: #c5c9c3;
}

.i-eM-mail:before {
    content: "\ea83";
}

.i-eM-instagram:before {
    content: "\ea92";
}

.i-eM-vk:before {
    content: "\ea98";
}

.description__monogram {
    width: 50%;
    margin: 0 auto;
}

.description__monogram img {
    width: 100%;
}

.description__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1rem;
}

.description__content-title {
    margin: 1rem;
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    text-align: center;
}

#advantages {
    background-color: #e4dde4;
    box-shadow: 2px 1px 3px 1px rgba(89, 87, 87, 0.5);
    height: 20rem;
}

.advantages__title,
.profile__title {
    margin: 3rem;
    padding-top: 3rem;
    font-size: 2rem;
    text-align: center;
}
.advantages__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.advantages__item {
    position: relative;
    color: #240d39;
    text-align: center;
    font-size: 1.2rem;
}

.advantages__item i:before {
    position: absolute;
    top: 3rem;
    left: calc(50% - 2.5rem);
    border: 3px solid #240d39;
    border-radius: 50px;
    padding: 1rem;
    font-size: 3rem;
}

.questions__wrapper {
    margin: 3rem 5rem;
}

.questions__item {
    margin: 1rem;
    font-size: 1.2rem;
}

.questions__item a {
    text-decoration: none;
}

.questions__wrapper i {
    float: right;
}

.questions__answers {
    display: none;
}

/*js*/
.questions__item:hover .questions__answers {
    display: block;
    padding: 1rem;
    margin: 0.7rem;
    background-color: rgba(158, 158, 153, 0.5);
    color: white;
}

.questions__item:hover .i-eM-checkmark:before {
    color: #a83859;
}

#profile {
    background-color: #e4dde4;
}

.profile__wrapper {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem;
    margin: 1rem;
}

.profile__photo img {
    width: 100%;
}

.profile__item {
    width: 40%;
    margin: 0;
}

.form-cell,
input[type=submit] {
    width: 12rem;
    height: 2rem;
    border: none;
}

.form-cell_left {
    float: left;
}

.form-cell_right {
    float: right;
}

textarea {
    border: none;
}

input[type=submit] {
    color: white;
    background-color: #a83859;
    font-size: 1rem;
    font-family: 'Lobster', cursive;
}

input[type=checkbox] {
    width: 1.5rem;
    height: 1.5rem;
}