.lesson__wrapper {
    height: 70vh;
    margin: 0 auto;
    background: url("../images/img161.jpg") no-repeat fixed;
    background-size: 100%;
}

.lesson__content {
    padding: 1rem 2rem;
    margin: 0;
    background-color: rgba(250, 250, 250, 0.5);
    font-size: 1.2rem;
    text-align: justify;
}